*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -moz-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -o-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -webkit-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    height: 100vh;
}

 body::-webkit-scrollbar{
    width: 10px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

body::-webkit-scrollbar-track{
    background: linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -moz-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -o-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -webkit-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
}

body::-webkit-scrollbar-thumb{
     background-color:   rgba(92, 91, 91, 0.829);
     border: none;
     border-radius: 10px;
}

.clear-float{
    float: none;
    clear: both;
}


.bannner{
    width: 100%;
    background-color: rgba(46, 42, 42, 0.986);
    color: white;
    text-align: center;
    height: 50px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100%;
}


.banner-title{
    grid-column: 1/3;
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;
    float: right;
    line-height: 50px ;
   
    margin: 0px;
}

.nav-bar{
    grid-column: 3/4;
    float: right;
}


.links{
    text-decoration: none;
    font-size: 22px;
    color: bisque;
    margin: 5px 5px 0px 0px;
}

.links:hover{
    color: brown;
    transition:  .4s all;

}






.content-main{
    width: 50vw;
    margin: 10px auto;
    padding: 10px ;
    background-color: rgba(12, 11, 11, 0.829);
    box-shadow: 2px 5px 30px black;
    color: aliceblue;
    text-align: center;
}

.content-main  h2{
   border-bottom: 1.5px solid gainsboro ;
   text-align: center;
   margin-bottom: 30px;
   font-size: 1.5rem;
   font-weight: 700 ;

}

.transfrom-from{
  color: aliceblue;
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: column;
  flex-grow:1 ;
  justify-content: center;
}

.transfrom-from p{
   padding: 10px;
   text-align: center;    
}

.transfrom-from label {
     display: block;
}

.transfrom-from input{
    margin-top: 10px;
    text-align: center;
    font-weight: 800;
}

.transfrom-from input:focus{
    box-shadow: -2px 2px 30px  rgb(23, 73, 211); 
}


.content-result{
    width: 40vw;
    margin: 5px auto;
    padding: 5px ;
    background-color: rgba(12, 11, 11, 0.829);
    box-shadow: 2px 5px 30px black;
    text-align: center;
    border-radius: 10px;
    color: white ;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.content-result  p  {
    padding: 5px;
    height: auto;
   
    
}

.content-Pasos{
    width: 60vw;
    margin: 5px auto;
    padding: 5px ;
    background-color: rgba(12, 11, 11, 0.829);
    box-shadow: 2px 5px 30px black;
    text-align: center;
    border-radius: 10px;
    color: rgb(183, 183, 184) ;
    margin-bottom: 2rem;
}

.content-Pasos p {
      font-weight: 700;
      text-align: center;
      
}

.content-Pasos .residuo{
    color: rgb(212, 14, 136);
    
}

.content-Pasos .im-intruc{
    color: rgba(223, 58, 16, 0.89);
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-Pasos .resultado{
    color: rgb(212, 14, 136);
    font-size: 1.1rem;
}

.content-Pasos .MulResult{
   color: crimson;    
}


#paso{
    background-color: rgba(235, 5, 62, 0.829);
    color: wheat;
    position: fixed;
    right: 0px;
    top: 80vh;
    font-size: 1rem;
    margin-right:  5px ;
    padding: .5rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.ValoreHex{
    width: 120px;
    background-color: rgb(167, 11, 76);
    color: rgba(12, 11, 11, 0.952);
    margin-left: .2rem;
    position: fixed;   
    left: 0px;
    bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
 }



/*Clases que se manejas con javascript*/
.errorNum:focus{
   box-shadow: -2px 2px 30px  rgb(182, 47, 6) !important;
}

.swal2-container , .swal2-content{

    color: aliceblue!important;
}

.swal2-title{
    color:white !important;
}

.show{
    display: block !important;
}

.hidden{
    display: none !important;
}

.initial{
    display: none;
}

.initialValue{
    display: block;
}

.fade{
    animation: .3s  fade 1;
   -webkit-animation:  .3s  fade 1;
    -o-animation: .3s  fade 1;
   -moz-animation: .3s  fade 1;    
}


@keyframes fade {
     0%{
         opacity: 0.0;
     }

     70%{
         opacity: 0.8;
     }
 
}

@-webkit-keyframes fade{
   
    0%{
        opacity: 0.0;
    }

    70%{
        opacity: 0.8;
    }
}


@-moz-keyframes fade{ 
     
    0%{
        opacity: 0.0;
    }

    70%{
        opacity: 0.8;
    }

}


@-o-keyframes fade {
   
    0%{
        opacity: 0.0;
    }

    70%{
        opacity: 0.8;
    }

}