*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -moz-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -o-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    background: -webkit-linear-gradient(to right, rgb(6, 82, 182), rgb(184, 19, 199));
    height: 100vh;
}

 body::-webkit-scrollbar{
    width: 10px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

body::-webkit-scrollbar-track{
    background:  rgb(27, 26, 26);;
}

body::-webkit-scrollbar-thumb{
     background-color:   rgba(12, 11, 11, 0.829);
     border: none;
     border-radius: 10px;
}

.clear-float{
    float: none;
    clear: both;
}


.bannner{
   width: 100%;
   background:  linear-gradient(to right , rgb(26, 25, 25) , gray);
   background:   -o-linear-gradient(to right , rgb(26, 25, 25) , gray);
   background:  -webkit-linear-gradient()(to right , rgb(26, 25, 25) , gray);
   color: white;
   text-align: center;
}

.links{
    text-decoration: none;
    font-size: 18px;
    color: bisque;
}

.links:hover{
    color: brown;
    font-size: 25px;
    transition:  .4s all;
}


.nav-bar{
    margin: 0px auto;
    background-color: rgb(23, 73, 211);
}


.banner-title{
    line-height: 90px;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;
}

.content-main{
    width: 50vw;
    margin: 10px auto;
    padding: 10px ;
    background-color: rgba(12, 11, 11, 0.829);
    box-shadow: 2px 5px 30px black;
    color: aliceblue;
    text-align: center;
}

.content-main  h2{
   border-bottom: 1.5px solid gainsboro ;
   text-align: center;
   margin-bottom: 30px;
}

.transfrom-from{
  color: aliceblue;
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: column;
  flex-grow:1 ;
  justify-content: center;
}

.transfrom-from p{
   padding: 10px;
   text-align: center;    
}

.transfrom-from label {
     display: block;
}

.transfrom-from input{
    margin-top: 10px;
    text-align: center;
    font-weight: 800;
}

.transfrom-from input:focus{
    box-shadow: -2px 2px 30px  rgb(23, 73, 211); 
}


.content-result{
    width: 40vw;
    margin: 5px auto;
    padding: 5px ;
    background-color: rgba(12, 11, 11, 0.829);
    box-shadow: 2px 5px 30px black;
    text-align: center;
    border-radius: 10px;
    color: white ;
}

.content-result  p  {
    padding: 5px;
    height: auto;
   
    
}


@media screen and (max-width: 772px) {
    .banner-title{
        font-size: 20px;
    }

    .content-result{
        width: 60vw;
    }
}

@media screen and (max-width: 374px) {
    .content-main h2{
        font-size: 15px;
    }

    .content-result{
        width: 50vw;
    }

}

/*Clases que se manejas con javascript*/
.errorNum:focus{
   box-shadow: -2px 2px 30px  rgb(182, 47, 6) !important;
}

.swal2-container , .swal2-content{

    color: aliceblue!important;
}

.swal2-title{
    color:white !important;
}

.show{
    display: block !important;
}

.hidden{
    display: none !important;
}

.initial{
    display: none;
}

.initialValue{
    display: block;
}

.fade{
    animation: .3s  fade 1;
   -webkit-animation:  .3s  fade 1;
    -o-animation: .3s  fade 1;
   -moz-animation: .3s  fade 1;    
}

@keyframes fade {
     0%{
         opacity: 0.0;
     }

     70%{
         opacity: 0.8;
     }
 
}

@-webkit-keyframes fade{
   
    0%{
        opacity: 0.0;
    }

    70%{
        opacity: 0.8;
    }
}


@-moz-keyframes fade{ 
     
    0%{
        opacity: 0.0;
    }

    70%{
        opacity: 0.8;
    }

}


@-o-keyframes fade {
   
    0%{
        opacity: 0.0;
    }

    70%{
        opacity: 0.8;
    }

}