

.form-operaciones{
    padding :5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-operaciones input , select {
    flex-grow: 1 ;
    text-align: center;
} 

.form-operaciones input:focus{
    box-shadow: -2px 2px  30px  rgb(23, 73, 211);
}



#operaciones{ 
   border: none;
   padding: 5px;
   background-color: crimson;
   color: white;
   margin: 10px auto;
}

#operaciones option {
    background-color:  rgba(32, 16, 68, 0.815);;
    border: 1px solid rgb(26, 16, 16) !important;
}

.block{
    display: block;
}

